* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Noto Serif", serif;
  background-color: #eef;
}

img {
  width: 100%;
  max-width: 100%;
}

.wrapper {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

h2 {
  margin: 1.5rem 0;
  text-align: center;
}
hr {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.entry {
  display: flex;
  flex-direction: column;
  background-color: rgb(88, 79, 79);
  /* flex: 0 0 calc(100% - 1.2rem); */
  flex: 0 0 100%;
  margin-bottom: 1.2rem;
  text-align: center;
  color: #fff;
}

.entry-title {
  text-transform: uppercase;
  margin-bottom: 0.85rem;
}

@media (min-width: 650px) {
  .entry {
    flex: 0 0 calc(50% - 1.2rem);
  }
}

@media (min-width: 940px) {
  .container {
  }

  .entry {
    flex: 0 0 calc(33.3% - 1.2rem);
  }
}
